{% extends "layout.html" %}

{% block content %}
                        

    <!-- 1st section video -->
    <div class="description bg-light">
      <header id="indexvideo">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="static/video/about.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
              <h1 id="line1" class="display-3"><small>Health and Fitness Edinburgh<br></small></h1>
              <h2 id="line2" class="lead mb-0">
               <b> Get conected on YouTube</b></h2>
              <div class="display-3" > <a class="fa fa-youtube text-white" href="https://www.youtube.com/channel/UCztMB6DSKj5LqufQX7H8M-w/featured"></a> </div>
            </div>
          </div>
        </div>
      </header>

<section class="my-5" id="aboutme">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2  class= "topic" style="text-align:center">I Am Based In Edinburgh And I Can Help You To Improve Health and Fitness</h2>

        <hr>
              <br>
<p> I felt the thrill of sports for the first time when I was 12 years old and my father took me to the stadium to watch a football match, 
  and this was the moment that has driven my life choices. The next step for me was to join the local football team and my passion for sport kept growing.
  After high school, I studied business management at college as I thought that this is what you need for success in life. Successfully graduating and working 
  in a variety of business environments for the following five years I could not find satisfaction in it. A few years later, in 2017, knowing that my passion lay
   in sports, I completed a Master's degree in Conditioning Training. During this course, I met many experts who inspired me. I have worked with football teams in
    Portugal and Croatia where I attended seminars with some of the best professors in the field. Today I see health through sport as a necessity
   in everyone’s life and constantly seek to increase my knowledge of sports science in relation to our body and mind.</p>
      </div>
    </div>
  </div>          
<!-- 2ed section photos carousel  -->
      
<!--Carousel Gallery-->
<div class="container">
  <div class="row blog">
      <div class="col-md-12">
<div class="carousel-gallery">
  <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <a href="static/photos/about/a1.jpg" data-fancybox="gallery" >
                  <div class="image" style="background-image: url(static/photos/about/a1.jpg)">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="static/photos/about/h.jpg" data-fancybox="gallery" >
                  <div class="image" style="background-image: url(static/photos/about/h.jpg)">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="static/photos/about/a33.jpg" data-fancybox="gallery" >
                  <div class="image" style="background-image: url(static/photos/about/a33.jpg)">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="static/photos/about/a5.jpg" data-fancybox="gallery" >
                  <div class="image" style="background-image: url(static/photos/about/a5.jpg)">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="static/photos/about/a6.jpg" data-fancybox="gallery" >
                  <div class="image" style="background-image: url(static/photos/about/a6.jpg)">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="static/photos/about/swim.jpg" data-fancybox="gallery" >
                  <div class="image" style="background-image: url(static/photos/about/swim.jpg)">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
              </a>
          </div>
          <div class="swiper-slide">
            <a href="static/photos/about/football1.jpg" data-fancybox="gallery" >
                <div class="image" style="background-image: url(static/photos/about/football1.jpg)">
                    <div class="overlay">
                        <em class="mdi mdi-magnify-plus"></em>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
          <a href="static/photos/about/a44.jpg" data-fancybox="gallery" >
              <div class="image" style="background-image: url(static/photos/about/a44.jpg)" >
                  <div class="overlay">
                      <em class="mdi mdi-magnify-plus"></em>
                  </div>
              </div>
          </a>
      </div>
      </div>
      <div class="swiper-pagination"></div>
  </div>
</div>
<br>
</div>
</div>
</div>
</section>
</div>
<!--#Carousel Gallery-->

<!-- 3th section java sentences-->

      <br id="support">
       <div class="container" style = "min-height: 100px">
        <div class="row">

            <div class="col-md-12 javatext" >

      <h2 style="text-align:center" >Are you looking 
        <span
           class="txt-rotate"
           data-period="2000"
           data-rotate='[ "to lose weight?", "to build confidence after injury?", "for a professional advice?", "to improve your performance?" ]'></span>
          </h2>
          <hr>
      </div>
      </div>
      </div>
  
    <!-- 4th section cards -->

        <div class="container" >
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" >
  <div class="card-body">
    <h4 class="card-title">I can help you to reduce the risk of injury.</h4>
    <p class="card-text">
      I have participated in the recovery of national athletes
      I have helped professional competitors from the biggest football championships in Italy.
    </p>
  </div>
</div>
      </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" >
  <div class="card-body">
    <h4 class="card-title">Seeing the juniors developing their skills and growing is the best reward for me.
    </h4>
    <p class="card-text">
      I have trained and watched children whose names are associated with the best teams in Europe today.
    </p>
   
  </div>
</div>
      </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" >
  <div class="card-body">
    <h4 class="card-title">I can help you tp build confidence.</h4>
    <p class="card-text">
      I am an experienced swimming coach, gym instructor and weight loss instructor.
      Over the last 10 years I have been developing methods of recovering from injury and building strength.</p>
 
          </div>
      </div>
    </div>
  </div>
        <br>
      <br>
      <br>
</div> 

      
    
   <!-- 5th section- carousel -->
   <div class="description bg-light">
    <br>
    <br>
    <div class="container-xl">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="greenhr" >What people say...</h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" style="min-height: 350px">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
              <li data-target="#myCarousel" data-slide-to="6"></li>
              <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="img-box"><img src="static/photos/konstantinIvanov.jpg" alt="konstantin"></div>
                <p class="testimonial">  I met Stoil 3 years ago. He was helping me to recover after an injury.
                  Training with him taught me to be serious about what I do and not to give up.
                  As well as that I learned I lot about my body and the best methods in a specific exercise.
                  I like the training with him mostly because it always felt right for me, he has a very professional attitude and individual approach.
                  I am an ex Footballer, 20 years old studying to be a football coach now.</p>
                <p class="overview"><b>Konstantin</b>, Footballer</p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/alexander.jpg" alt="alexander"></div>
                <p class="testimonial"> I met Stoil 3 years ago. He was helping me to recover after an injury.
                  Training with him taught me to be serious about what I do and not to give up.
                  As well as that I learned I lot about my body and the best methods in a specific exercise.
                  I like the training with him mostly because it always felt right for me, he has a very professional attitude and individual approach.
                  I am an ex Footballer, 20 years old studying to be a football coach now.</p>
                <p class="overview"><b>Alexander</b>, Student</p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/tia.jpg" alt="tia"></div>
                <p class="testimonial">The training with Stoil was not just physical work but mental as well.
                  The lessons were challenging at first as it was a completely new experience for me.
                  I didn’t feel confident in the water and Stoil has helped me to overcome that.
                  Now I am a lot more confident and calm in the water.
                  I believe that going through this challenge has also increased my general self confidence in life.</p>
                <p class="overview"><b>Tia</b></p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/danibohotska.jpg" alt="dani"></div>
                <p class="testimonial">A few years ago I met Stoil at the pool. Back then he was an aqua fit coach.
                  He has always been very professional and his positive attitude has often made my day.
                  </p>
                <p class="overview"><b>Dani</b></p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/maq.jpg" alt="maq"></div>
                <p class="testimonial">I have known Stoil for several years now.
                  He has taught me the value of consistency.
                  
                  </p>
                <p class="overview"><b>Maq</b>, Digital Business Development Expert</p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/pavlin.jpg" alt="pavln"></div>
                <p class="testimonial">My name is Pavlin and I am Stoil’s brother.
                  As a big brother he has always tried to set me a good example.
                  He has passed on his love of sport to me.
                  Over the years I have learned a lot of different exercises and how to correctly perform them as well as techniques to recover from injuries. 
                  One of the most valuable lessons I have learned from him is what not to do, because not every exercise is good for my health.
                  </p>
                <p class="overview"><b>Pavlin</b>, Electrical engineer</p>
              </div>
              <div class="carousel-item">
                <br>
                <br>
                <br>
                <br>
                <div><span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span></div>
                  <br>
                  <br>
                <p class="testimonial">Stoil used to be a water aerobics instructor at the pool where I worked out.
                  The water aerobics classes with Stoil were great! We had a lot of fun and positive emotions in the water and it has always been a good and challenging workout.
                  </p>
                <p class="overview"><b>Cveta Peichinova</b>, Clinical Research</p>
              </div>
              <div class="carousel-item">
                <br>
                <br>
                <br>
                <br>
                <div> <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span></div>
                  <br>
                  <br>
                <p class="testimonial">I met Stoil in 2013. Training with him was always fun! 
                  He put a lot of effort into preparing for each session by setting a new combination of exercises each time and making sure that I progress towards my goals.
                  </p>
                <p class="overview"><b>GK</b>, IT Specialist</p>
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    </div>
  
      <!--Script-->

<script>
  //Typing Carousel
var TxtRotate = function(el, toRotate, period) {
this.toRotate = toRotate;
this.el = el;
this.loopNum = 0;
this.period = parseInt(period, 10) || 2000;
this.txt = '';
this.tick();
this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
var i = this.loopNum % this.toRotate.length;
var fullTxt = this.toRotate[i];

if (this.isDeleting) {
  this.txt = fullTxt.substring(0, this.txt.length - 1);
} else {
  this.txt = fullTxt.substring(0, this.txt.length + 1);
}

this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

var that = this;
var delta = 300 - Math.random() * 100;

if (this.isDeleting) { delta /= 2; }

if (!this.isDeleting && this.txt === fullTxt) {
  delta = this.period;
  this.isDeleting = true;
} else if (this.isDeleting && this.txt === '') {
  this.isDeleting = false;
  this.loopNum++;
  delta = 500;
}

setTimeout(function() {
  that.tick();
}, delta);
};

window.onload = function() {
var elements = document.getElementsByClassName('txt-rotate');
for (var i=0; i<elements.length; i++) {
  var toRotate = elements[i].getAttribute('data-rotate');
  var period = elements[i].getAttribute('data-period');
  if (toRotate) {
    new TxtRotate(elements[i], JSON.parse(toRotate), period);
  }
}
// INJECT CSS
var css = document.createElement("style");
css.type = "text/css";
css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
document.body.appendChild(css);
};
</script>

  {% endblock %}