<!-- File: junior.html -->
<!-- Author: Violeta Lazarova -->
<!-- Description: This file defines the junior page for the TitoSport application. It extends the layout.html file and displays information about personal training for junior athletes, a video header, a photo carousel, cards for different training activities, information about recovery after injury, and a carousel of testimonials. -->

{% extends "layout.html" %}

{% block content %}       

    <!-- 1st section vodeo -->
    
<div class=bg-light>
  <header id="indexvideo">
          <div class="overlay"></div>
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="static/video/kids.mp4" type="video/mp4">
          </video>
          <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
              <div class="w-100 text-white">
                <br>
                <h1 id="line1" class="display-3"><small>Junior Sport Edinburgh</small></h1>
                    <br>
                    <br>
                    <a href="contact.html#contact">
                      <div id="line3" class="button first" >Book a free consultation</div>
                    </a>
              </div>
            </div>
          </div>
        </header>
        <section class="my-5">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                  <br>
                <h2 class= "topic" style="text-align:center"> Get Advice From A Specialist with free first consultation</h2>
                <hr>
                      <br>
        <p>Children around the world are less aerobically fit than their parents were as kids, a decline that researchers say could be setting them up for serious health problems once they have grown up.<br>This problem is global depending on the family environment, the school environment, and the social environment of the child.
          The early years are most important for developing habits. This is because children tend to imitate their parents and the environment. 
          If the little ones don't have good examples to learn from, they could become lazy and start choosing unhealthy food options.
           As well as that today's children have become more sedentary because of technology, which is an integral part of our modern society. That is why I believe that this extra help and push I can offer could make a big difference to our children's lives.
           As well as that I have years of experience working with young athletes which is one of the main services I offer at the moment.</p>
        
              </div>
            </div>
          </div>
          </section>

                        <!-- Carousel items -->
<!-- 2ed section photos carousel  -->
      
<!--Carousel Gallery-->
<div class="container">
    <div class="row blog">
        <div class="col-md-12">
<div class="carousel-gallery">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="static/photos/kids/9.jpg" data-fancybox="gallery">
                    <div class="image" style="background-image: url(photos/kids/9.jpg)">
                        <div class="overlay">
                            <em class="mdi mdi-magnify-plus"></em>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="static/photos/kids/1.jpg" data-fancybox="gallery">
                    <div class="image" style="background-image: url(photos/kids/1.jpg)">
                        <div class="overlay">
                            <em class="mdi mdi-magnify-plus"></em>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="static/photos/kids/2.jpg" data-fancybox="gallery">
                    <div class="image" style="background-image: url(photos/kids/2.jpg)">
                        <div class="overlay">
                            <em class="mdi mdi-magnify-plus"></em>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="static/photos/kids/3.jpg" data-fancybox="gallery">
                    <div class="image" style="background-image: url(photos/kids/3.jpg)">
                        <div class="overlay">
                            <em class="mdi mdi-magnify-plus"></em>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="static/photos/kids/4.jpg" data-fancybox="gallery">
                    <div class="image" style="background-image: url(photos/kids/4.jpg)">
                        <div class="overlay">
                            <em class="mdi mdi-magnify-plus"></em>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="static/photos/kids/5.jpg" data-fancybox="gallery">
                    <div class="image" style="background-image: url(photos/kids/5.jpg)">
                        <div class="overlay">
                            <em class="mdi mdi-magnify-plus"></em>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
              <a href="static/photos/kids/6.jpg" data-fancybox="gallery">
                  <div class="image" style="background-image: url(photos/kids/6.jpg)">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
              </a>
          </div>
          <div class="swiper-slide">
            <a href="static/photos/kids/8.jpg" data-fancybox="gallery">
                <div class="image" style="background-image: url(photos/kids/8.jpg)">
                    <div class="overlay">
                        <em class="mdi mdi-magnify-plus"></em>
                    </div>
                </div>
            </a>
        </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
  </div>
  <br>
  
  </div>
  </div>
  </div>
  </div>


<!-- 2ed section - cards-->
<section id="activity" class="pb-5">
  <br>
  <div class="container">    
      <h3 style="text-align:center"><a style="color:rgb(31, 29, 29);" href="contact.html"> Book The Right Training for You</a></h3>
      <hr>
      <br>
      <div class="row">
          <!-- card1 -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <h4 class="card-title">Strength and conditioning</h4>
                                  <p></p>
                                  <p >- Full body workout;<br> - Working with specific muscle group;<br> - coordination exercise</p>
                                  <br>
                                  <br>
                                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <iframe  src="https://www.youtube.com/embed/U11K-kyOTqI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                           <div class="card-body">
                                <h5 class="card-title">Create Successful Habits</h5>
                                <p class="card-text">Building the muscles gradually helps the development of a healthy and balanced body. In my teaching, 
                                  I incorporate easy exercises to correct any bad habits in the child’s movements. In this way we can reduce the risk of injuries.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- card2 -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Weight loss exercises</h4>
                                <p></p>
                                <p>- Intensive training which targets the child’s bad habits by working towards 
                                    finding a new fun ways to be more active.</p>
                                    <br>
                                    <br>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                          <iframe  src="https://www.youtube.com/embed/iSU6okfKP5o" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          <div class="card-body">
                            <h5 class="card-title">Create Successful Habits</h5>
                            <p>In order to work towards losing weight,  fun games and equipment are used to help develop healthy habits.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- card3 -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                              <h4 class="card-title">Core strength</h4>
                                <p></p>
                                <p class="card-text">- Building core strength;<br><br> - Stretching exercise</p><br><br>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                      <div class="card">
                        <iframe  src="https://www.youtube.com/embed/jEv-Nu49ghM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                          <div class="card-body">
                            <h5 class="card-title">Create Successful Habits</h5>
                            <p class="card-text">The strength of the core muscles around the middle of the body is particularly important for posture. The aim is to show
                               children the benefits of developing a strong core, and demonstrate how it can help future abilities, general health and wellbeing.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>
  <br>
  <br>
</section>



<!-- 3th section -->

<div class=backround >
  <section class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <h4 style="color: white" class = "greenhr">Recovery of the physical and functional condition after injury. </h4>
            <p class = "recovery"> Recovery of the physical and functional condition after injury.
              Throughout my career I have seen many athletes that weren’t consistent in their work which has resulted in injury.<br>
              Recovering is a long process that requires patience and a good understanding your body.<br>
              Once you are ready to start the process of returning to sport I can help you to do safely.<br>
              I have worked with many different types of injury and throughout the years I have developed consistent and safe methods that give the best results.
              <br> <a href="contact.html" style="color: white"><b> Drop me a message to get your recovery started.</b></a></p>
                <br><p class="red"><b>Start recovery only after periodic consultations with a doctor</b> </p>
    
          </div>
        </div>
      </div>
    </section>
  <br>
  </div>
    
    <!-- 4th section- carousel -->
    <br>
    <br>
    <div class="container-xl">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="greenhr" >What people say...</h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" style="min-height: 350px">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
              <li data-target="#myCarousel" data-slide-to="6"></li>
              <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="img-box"><img src="static/photos/konstantinIvanov.jpg" alt=""></div>
                <p class="testimonial">  I met Stoil 3 years ago. He was helping me to recover after an injury.
                  Training with him taught me to be serious about what I do and not to give up.
                  As well as that I learned I lot about my body and the best methods in a specific exercise.
                  I like the training with him mostly because it always felt right for me, he has a very professional attitude and individual approach.
                  I am an ex Footballer, 20 years old studying to be a football coach now.</p>
                <p class="overview"><b>Konstantin</b>, Footballer</p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/alexander.jpg" alt=""></div>
                <p class="testimonial"> I met Stoil 3 years ago. He was helping me to recover after an injury.
                  Training with him taught me to be serious about what I do and not to give up.
                  As well as that I learned I lot about my body and the best methods in a specific exercise.
                  I like the training with him mostly because it always felt right for me, he has a very professional attitude and individual approach.
                  I am an ex Footballer, 20 years old studying to be a football coach now.</p>
                <p class="overview"><b>Alexander</b>, Student</p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/tia.jpg" alt=""></div>
                <p class="testimonial">The training with Stoil was not just physical work but mental as well.
                  The lessons were challenging at first as it was a completely new experience for me.
                  I didn’t feel confident in the water and Stoil has helped me to overcome that.
                  Now I am a lot more confident and calm in the water.
                  I believe that going through this challenge has also increased my general self confidence in life.</p>
                <p class="overview"><b>Tia</b></p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/danibohotska.jpg" alt=""></div>
                <p class="testimonial">A few years ago I met Stoil at the pool. Back then he was an aqua fit coach.
                  He has always been very professional and his positive attitude has often made my day.
                  </p>
                <p class="overview"><b>Dani</b></p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/maq.jpg" alt=""></div>
                <p class="testimonial">I have known Stoil for several years now.
                  He has taught me the value of consistency.
                  
                  </p>
                <p class="overview"><b>Maya</b>, Digital Business Development Expert</p>
              </div>
              <div class="carousel-item">
                <div class="img-box"><img src="static/photos/pavlin.jpg" alt=""></div>
                <p class="testimonial">My name is Pavlin and I am Stoil’s brother.
                  As a big brother he has always tried to set me a good example.
                  He has passed on his love of sport to me.
                  Over the years I have learned a lot of different exercises and how to correctly perform them as well as techniques to recover from injuries. 
                  One of the most valuable lessons I have learned from him is what not to do, because not every exercise is good for my health.
                  </p>
                <p class="overview"><b>Pavlin</b>, Electrical engineer</p>
              </div>
              <div class="carousel-item">
                <br>
                <br>
                <br>
                <br>
                <div><span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span></div>
                  <br>
                  <br>
                <p class="testimonial">Stoil used to be a water aerobics instructor at the pool where I worked out.
                  The water aerobics classes with Stoil were great! We had a lot of fun and positive emotions in the water and it has always been a good and challenging workout.
                  </p>
                <p class="overview"><b>Cveta Peichinova</b>, Clinical Research</p>
              </div>
              <div class="carousel-item">
                <br>
                <br>
                <br>
                <br>
                <div> <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span></div>
                  <br>
                  <br>
                <p class="testimonial">I met Stoil in 2013. Training with him was always fun! 
                  He put a lot of effort into preparing for each session by setting a new combination of exercises each time and making sure that I progress towards my goals.
                  </p>
                <p class="overview"><b>GK</b>, IT Specialist</p>
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>


  {% endblock %}