<!--
File: layout.html
Author: Violeta Lazarova
Description: This file contains the layout template for the TitoSport application. 
It includes the common elements used across multiple pages, 
such as the HTML head section with CSS and JavaScript links, navigation bar,
flash messages display, content block, and footer.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo Narrow">
  <!-- CSS Link -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="static/css/training.css" />
  <link rel="stylesheet" type="text/css" href="static/css/login.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <!-- Script -->
  <script src="https://kit.fontawesome.com/8853bac675.js" crossorigin="anonymous"></script>
  <!--Meta Description-->
  <meta name="description" content="Strength and Conditioning in Edinburgh for athletes, juniors and amateurs. I specialize in injury prevention, recovery from injury, fitness training for weight loss, active recovery, and competition preparation.">
  <!--Meta Keyword-->
  <meta name="keywords" content="Strength and Conditioning Edinburgh, free consultation in Edinburgh, personal training, Athletes, sport, every day sport, prevent injuries, recover from injury, fitness training, Strength and Conditioning for Juniors, Edinburgh sport young adults, Weight loss Individual support, Active recovery, improve your AGILITY, improve your SPEED, flexibility, coordination, competition preparation">
  <link rel="canonical" href="https://titosport.co.uk">
  <!--Google-->
  <meta name="google-site-verification" content="tyE0vBCH0V6wz5esOi_Lp6IJOHDtghLsE5D0eeWW3_w" />
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TW3B8E7EN6"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-TW3B8E7EN6');
</script>

<!-- Add Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Add Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Carousel Gallery -->

<link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.99/css/materialdesignicons.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />


</head>

<!-- Content -->
<body>
  
  {% include "includes/navbar.html" %}
  


  {% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class = "alert alert-danger">
<p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}
  {% endwith %}

  {% block content %}

  {% endblock %}

  <!-- Footer -->
  {% include "includes/footer.html" %}



  <script>

    // Function to hide the pop-up
    function hidePopup() {
      const popupContainer = document.querySelector(".popup-container");
      popupContainer.style.display = "none";
    }

    // Attach event listener to the close button
    const closeButton = document.getElementById("closeButton");
    closeButton.addEventListener("click", hidePopup);
  </script>
<!--END-->

 <!--Script Typing Carousel-->

 <script>
  //Typing Carousel
var TxtRotate = function(el, toRotate, period) {
this.toRotate = toRotate;
this.el = el;
this.loopNum = 0;
this.period = parseInt(period, 10) || 2000;
this.txt = '';
this.tick();
this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
var i = this.loopNum % this.toRotate.length;
var fullTxt = this.toRotate[i];

if (this.isDeleting) {
  this.txt = fullTxt.substring(0, this.txt.length - 1);
} else {
  this.txt = fullTxt.substring(0, this.txt.length + 1);
}

this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

var that = this;
var delta = 300 - Math.random() * 100;

if (this.isDeleting) { delta /= 2; }

if (!this.isDeleting && this.txt === fullTxt) {
  delta = this.period;
  this.isDeleting = true;
} else if (this.isDeleting && this.txt === '') {
  this.isDeleting = false;
  this.loopNum++;
  delta = 500;
}

setTimeout(function() {
  that.tick();
}, delta);
};

window.onload = function() {
var elements = document.getElementsByClassName('txt-rotate');
for (var i=0; i<elements.length; i++) {
  var toRotate = elements[i].getAttribute('data-rotate');
  var period = elements[i].getAttribute('data-period');
  if (toRotate) {
    new TxtRotate(elements[i], JSON.parse(toRotate), period);
  }
}
// INJECT CSS
var css = document.createElement("style");
css.type = "text/css";
css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
document.body.appendChild(css);
};
</script>




  <!-- Scripts -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js'></script>
<script src="./script.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ...">
</script>