<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo Narrow">
  <!-- CSS Link -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="static/css/training.css" />
  <link rel="stylesheet" type="text/css" href="static/css/login.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <!-- Script -->
  <script src="https://kit.fontawesome.com/8853bac675.js" crossorigin="anonymous"></script>
  <!--Meta Description-->
  <meta name="description" content="Strength and Conditioning in Edinburgh for athletes, juniors and amateurs. I specialize in injury prevention, recovery from injury, fitness training for weight loss, active recovery, and competition preparation.">
  <!--Meta Keyword-->
  <meta name="keywords" content="Strength and Conditioning Edinburgh, free consultation in Edinburgh, personal training, Athletes, sport, every day sport, prevent injuries, recover from injury, fitness training, Strength and Conditioning for Juniors, Edinburgh sport young adults, Weight loss Individual support, Active recovery, improve your AGILITY, improve your SPEED, flexibility, coordination, competition preparation">
  <link rel="canonical" href="https://titosport.co.uk">
  <!--Google-->
  <meta name="google-site-verification" content="tyE0vBCH0V6wz5esOi_Lp6IJOHDtghLsE5D0eeWW3_w" />
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
</head>

<!-- Content -->
<body>
  {% include "includes/navbar.html" %}    

  {% block content %}

  {% endblock %}

  <!-- Footer -->
  {% include "includes/footer.html" %}

  <!-- Scripts -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js'></script>
<script src="./script.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ...">
</script>
