<br><br><br> {% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">

        <h3></h3>
        <div class="form-wrapper">
            <div class="form-background">
                <form name="login" action="" method="post" novalidate>
                    <fieldset class="form-group">
                        <legend class="form-title">{{ title }}</legend> 
                        {{ form.hidden_tag() }}

                        <p class="form-group">
                            {{ form.email.label(class="login") }}<br>
                            {{ form.email(class="form-control rounded-lg", size=35) }}
                            {% for error in form.email.errors %}
                                <span class="error-message error">{{ error }}</span>
                            {% endfor %}
                        </p>
                        <p class="form-group">
                            {{ form.password.label(class="login") }}<br>
                            {{ form.password(class="form-control rounded-lg", size=15) }}
                            {% for error in form.password.errors %}
                                <span class="error-message error">{{ error }}</span>
                            {% endfor %}
                        </p>

                        <p class="form-group">
                            {{ form.submit(class="button") }}
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}