<!-- File: user.html -->
<!-- Author: Violeta Lazarova -->
<!-- Description: This file defines the user profile page for the
TitoSport application. It extends the layout.html file and displays user
information if the user is found, otherwise it displays a message indicating 
that the user was not found. -->

{% extends "layout.html" %}

{% block content %}
<br><br><br><br>

<div class="row">
    <div class="col-md-12 text-center">

        {% if user %}
            <dl style="color: white; background-color: rgb(6, 6, 88);">
                <dt>User ID: {{ user.user_id }}</dt>
                <dd>Email: {{ user.email }}</dd>
                <dd>Password: {{ user.password }}</dd>
            </dl>
        {% else %}
            <h3 style="color: white;">User not found!</h3>
        {% endif %}
    </div>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}
