* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background-image: url("c11.jpg");
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 1550px 1000px;
}


 /* contact form */
 
.container-fluid {
    background-color: #07004D;
}

.msg-form {
    background-color: white;
    padding: 20px
}

.pad-icon {
    padding-top: 50px;
    padding-left: 20px
}

.pad-icon a {
    text-decoration: none;
    margin-right: 40px
}

.links {
    padding-top: 20px;
    width: 50%
}



/*Media*/

@media(min-width:568px) {
  .container-fluid {
      margin: 100px 30px;
      width: 96%;
      padding-top: 50px;
      padding-bottom: 50px
  }
}

@media(max-width:567px) {
  .pad {
      padding-top: 20px
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  }
  
  @media screen and (max-width: 780px) {
  .pad-icon {
    padding-top: 25px;
    padding-left: 10px
}
  }
  @media screen and (max-width: 780px) {
  body {
    background-image: url("smallscreen.jpg");
    background-repeat: no-repeat;
    background-size: 1550px 1550px;
  }
}
@media screen and (max-width: 780px) {
.container-fluid {
  padding-top: 30px;
  background-color: #07004D;
  background-size: 1300px 1300px;
}
}