   <!-- Footer -->
   <footer class="footer">
    <div class="main-footer widgets-dark typo-light">
    <div class="container">
    <div class="row">
      
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget subscribe no-box">
    <h5 class="widget-title">TitoSport</h5><hr>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FTitoSportUK%2Fposts%2F162234722569994&show_text=true&width=500" width="280" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    <!-- <div class="fb-page" data-href="https://www.facebook.com/TitoSportUK" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/TitoSportUK" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TitoSportUK">Stoil Panchev - Tito</a></blockquote></div> -->
</div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget no-box">
    <h5 class="widget-title">Quick Links</h5><hr><hr class="hr1">
      <div class="link"><a href="https://www.termsfeed.com/live/204729a2-cca1-468d-9f50-20d28c54fdf4">Privacy policy</a></div> 
      <div class="link"><a href="https://www.termsandconditionsgenerator.com/live.php?token=cdNffv7lZWkaQIWcriZkfI5XO8CIONPg">Terms & Conditions</a></div> 

    <div class="link"><a href="#.">Cookie policy</a></div> 

    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget no-box">
    <h5 class="widget-title">Get Started</h5><hr><hr class="hr1">
    <div class="link"><a href="/about/">Active recovery</a></div> 
    <div class="link"><a href="/about/">Injury recovery</a></div> 
    <div class="link"><a href="/about/">Individual support</a></div> 
    <div class="link"><a href="/contact/">Book now</a></div> 


  </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    
    <div class="widget no-box">
    <h5 class="widget-title">Contact Us</h5><hr><hr class="hr1">
    
 
      <!-- Facebook --><a href="https://www.facebook.com/Tito-Sport-100205548772912" target="_blank" class="button" ><i class="fab fa-facebook-square" style='font-size:25px;color:#172042'></i></a>
      <!-- Twitter --><a href="https://twitter.com/TitoSport_" target="_blank" class="button"><i class="fab fa-twitter" style='font-size:25px;color:#172042'></i></a>
      <!-- Youtube --><a href="https://www.youtube.com/channel/UCztMB6DSKj5LqufQX7H8M-w/featured" target="_blank" class="button"><i class="fab fa-youtube" style='font-size:25px;color:#172042'></i></a>
      <!-- Linkedin --> <a href="https://www.linkedin.com/in/stoil-panchev-tito-0024b6109/" target="_blank" class="button" ><i class="fab fa-linkedin-in" style='font-size:25px;color:#172042'></i></a>
    
    </div>
    </div>
    
    </div>
    </div>
    </div>
      
    <div class="footer-copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <p> Copyright TitoSport &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
    </div>
    </div>
    </div>
    </div>
    </footer>