<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>

    <meta charset="utf-8">

    
  
        <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

 <!-- Font -->
 <link rel="stylesheet"
 href="https://fonts.googleapis.com/css?family=Ubuntu">

<link rel="stylesheet"
 href="https://fonts.googleapis.com/css?family=Archivo Narrow">

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.png" type="image/x-icon">  

       <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/user.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

      <!-- Script -->
    <script
      src="https://kit.fontawesome.com/8853bac675.js"
      crossorigin="anonymous"
    ></script>


     <!--Meta Description-->
<meta name="description" content ="Strength and Conditioning in Edinburgh for athletes, juniors and amateurs.
I specialise in injuries prevention, recovery from  injury, fitness training for weight loss, active recovery, and competition preparation.">
<!--Meta Keyword-->
<meta name="keywords" content="Strength and Conditioning Edinburgh, free consultation in Edinburgh, personal training, Athletes, sport,every day sport, prevent injuries, recover from 
injury, fitness training, Strength and Conditioning for Juniors, Edinburgh sport young adults, Weight loss Individual support, Active recovery, improve your AGILITY,improve your SPEED
  flexibility, coordination , competition preparation">
  <link rel="canonical" href="https://titosport.co.uk">

      
      <!--Google-->
      <meta name="google-site-verification" content="tyE0vBCH0V6wz5esOi_Lp6IJOHDtghLsE5D0eeWW3_w" />
      
         <!-- Google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">


</head>

<!-- Content -->

  <div>
      
     <!-- Navigation -->

     <nav
     class="navbar navbar-expand-lg navbar-light fixed-top py-lg-0">
     <a class="navbar-brand" href="index.html">
        <img src="logo/logogreen.png" width="220" height="70" alt="Tito Sport logo" />
       <br />
     </a>
  
     <button
       class="navbar-toggler"
       type="button"
       data-toggle="collapse"
       data-target="#navbarResponsive"
       aria-controls="navbarResponsive"
       aria-expanded="false"
       aria-label="Toggle navigation"
     >
       <span class="navbar-toggler-icon">
         <i class="fas fa-bars" style="color:rgb(216, 210, 210); font-size:28px;"></i>
       </span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item ">
           <a class="nav-link"  href="index.html"
             ><i class="fa fa-fw fa-home"></i>Home
             <span class="sr-only">(current)</span>
           </a>
         </li>
           
  <!-- Dropdown -->
   <li class="nav-item dropdown ">
     <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
       <i class="fa fa-fw fa-users"></i>  Services
     </a>
     <div class="dropdown-menu">
       <a class="dropdown-item" href="athletes.html" style="color:white">Athletes</a>
       <a class="dropdown-item" href="training.html" style="color:white">Personal Training</a>
       <a class="dropdown-item" href="kids.html" style="color:white">Youth Sports</a>
     </div>
     </li>
     <li class="nav-item ">
      <a class="nav-link" href="about.html"><i class="fa fa-fw fa-info"></i>About</a>
  </li>
  <li class="nav-item dropdown active_nav ">
    <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
      <i class="fa fa-user"></i>My Account</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="athletes.html" style="color:white"><i class="fa fa-user"></i>My Account</a>
      <a class="dropdown-item" href="training.html" style="color:white"><i class='fas fa-edit'></i>Personal</a>
      <a class="dropdown-item" href="kids.html" style="color:white"><i class="fa fa-sign-in"></i>Logout</a>
    </div>
    </li>
       </ul>
     </div>
   </nav>
  
               <!-- Navigation END -->  

               <br>
               <br>
                 <br>
                   <br>
                 <br>
               </br>
               
               
               <div id="main-content" >
                       <div class="container">
                           <div class="row clearfix">                      
                               <div class="col-lg-12 col-md-12 left-box">
                                   <div class="card single_post">
                                    <div class="body">
                                      <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                                      <h4>Hi John</h4><hr>
                                      <h4>Username</h4>
                                      <h4>Data of Birth</h4>
                                      <h4>Email</h4>
                                      <span id="dots"></span><span id="more">
                                      <div id="form" class="page-content" class="form-v8">
                                        <div class="form-v8-content">
                                          <div class="form-right">
   <!--Form--> 
                                            <form   class="form-detail" action="register.php" method="POST">
                                                <div class="form-row">
                                                  <label class="form-row-inner">
                                                    <input type="text" name="signupusername" id="signupusername" class="input-text"  required>
                                                    <span class="label">Username</span>
                                                      <span class="border"></span>
                                                  </label>
                                                </div>
                                                <div class="form-row">
                                                  <label class="form-row-inner">
                                                    <input type="text" name="signupname" id="signupname" class="input-text"  required>
                                                    <span class="label">Name</span>
                                                      <span class="border"></span>
                                                  </label>
                                                </div>
                                                <div class="form-row">
                                                                <label class="form-row-inner">
                                                    <input type="email" name="signupemail" id="signupemail" class="input-text" required>
                                                    <span class="label">E-Mail</span>
                                                      <span class="border"></span>
                                                  </label>
                                                </div>
                                                <div class="form-row">
                                                  <label class="form-row-inner">
                                                    <input type="password" name="signuppassword" id="signuppassword" class="input-text" required>
                                                    <span class="label">Old Password</span>
                                                    <span class="border"></span>
                                                  </label>
                                                </div>
                                                <div class="form-row">
                                                  <label class="form-row-inner">
                                                    <input type="password" name="signupcpassword" id="signupcpassword" class="input-text" required>
                                                    <span class="label">New password</span>
                                                    <span class="border"></span>
                                                  </label>
                                                </div>
       
                                                <div class="form-row-last">
                                                  <input type="submit" name="register" class="register" value="Update">                                                </div>
                                              </div>
                                    
                                            </form>
                                          </div>
                                        </div>
                                      </span></p>

                                      <button onclick="myFunction()" id="myBtn"><a href="account.html#form">Update your account</a></button>
                                      </div>


                                             </div>
                                             </div>
                                           </div>

               </div></div></div>
             
               
              
               



 <!-- Footer -->
 <footer class="footer">
  <div class="main-footer widgets-dark typo-light">
  <div class="container">
  <div class="row">
    
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget subscribe no-box">
  <h5 class="widget-title">TitoSport</h5><hr>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FTitoSportUK%2Fposts%2F162234722569994&show_text=true&width=500" width="280" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  <!-- <div class="fb-page" data-href="https://www.facebook.com/TitoSportUK" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/TitoSportUK" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TitoSportUK">Stoil Panchev - Tito</a></blockquote></div> -->
</div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Quick Links</h5><hr><hr class="hr1">
    <div class="link"><a href="https://www.termsfeed.com/live/204729a2-cca1-468d-9f50-20d28c54fdf4">Privacy policy</a></div> 
    <div class="link"><a href="https://www.termsandconditionsgenerator.com/live.php?token=cdNffv7lZWkaQIWcriZkfI5XO8CIONPg">Terms & Conditions</a></div> 

  <div class="link"><a href="#.">Cookie policy</a></div> 

  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Get Started</h5><hr><hr class="hr1">
  <div class="link"><a href="about.html">Active recovery</a></div> 
  <div class="link"><a href="about.html">Injury recovery</a></div> 
  <div class="link"><a href="about.html">Individual support</a></div> 
  <div class="link"><a href="contact.html">Book now</a></div> 


</div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  
  <div class="widget no-box">
  <h5 class="widget-title">Contact Us</h5><hr><hr class="hr1">
  

    <!-- Facebook --><a href="https://www.facebook.com/Tito-Sport-100205548772912" target="_blank" class="button" ><i class="fab fa-facebook-square" style='font-size:25px;color:#172042'></i></a>
    <!-- Twitter --><a href="https://twitter.com/TitoSport_" target="_blank" class="button"><i class="fab fa-twitter" style='font-size:25px;color:#172042'></i></a>
    <!-- Youtube --><a href="https://www.youtube.com/channel/UCztMB6DSKj5LqufQX7H8M-w/featured" target="_blank" class="button"><i class="fab fa-youtube" style='font-size:25px;color:#172042'></i></a>
    <!-- Linkedin --> <a href="https://www.linkedin.com/in/stoil-panchev-tito-0024b6109/" target="_blank" class="button" ><i class="fab fa-linkedin-in" style='font-size:25px;color:#172042'></i></a>
  
  </div>
  </div>
  
  </div>
  </div>
  </div>
    
  <div class="footer-copyright">
  <div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
  <p> Copyright TitoSport &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
  </div>
  </div>
  </div>
  </div>
  </footer>

  <script>
    function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Don't update";
    moreText.style.display = "inline";
  }
}
</script>

  <!-- Script links -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://tools.cstudios.ninja/tilt.jquery.js'></script><script  src="script.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   

  </body>
</html>