<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TW3B8E7EN6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TW3B8E7EN6');
</script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">  
    
    <title>Contact</title>
      
        <!-- Bootstrap -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--Meta Description-->
<meta name="description" content ="One-To-One Training For £30 An Hour and up to 50% DISCOUNT for group bookings.">
<!--Meta Keyword-->
<meta name="keywords" content="One-To-One Training For £30 An Hour and up to 50% DISCOUNT for group bookings, Strength and Conditioning Edinburgh, free consultation in Edinburgh, personal training, Athletes, sport,every day sport, prevent injuries, recover from 
injury, fitness training, Strength and Conditioning for Juniors, Edinburgh sport young adults, Weight loss Individual support, Active recovery, improve your AGILITY,improve your SPEED
  flexibility, coordination , competition preparation">
       <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="css/contact.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="styl esheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

      <!-- Script -->
    <script
      src="https://kit.fontawesome.com/8853bac675.js"
      crossorigin="anonymous"
    ></script>
      
       <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="logo/favicon.ico" />
      
         <!-- Google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
      
</head>

  <body>
      
     <!-- Navigation -->

     <nav
     class="navbar navbar-expand-lg navbar-light fixed-top py-lg-0"
   >
     <a class="navbar-brand" href="index.html">
        <img src="logo/logogreen.png" width="220" height="70" alt="Tito Sport logo" />
       <br />
     </a>
  
     <button
       class="navbar-toggler"
       type="button"
       data-toggle="collapse"
       data-target="#navbarResponsive"
       aria-controls="navbarResponsive"
       aria-expanded="false"
       aria-label="Toggle navigation"
     >
       <span class="navbar-toggler-icon">
         <i class="fas fa-bars" style="color:rgb(216, 210, 210); font-size:28px;"></i>
       </span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item active_nav ">
           <a class="nav-link"  href="index.html"
             ><i class="fa fa-fw fa-home"></i>Home
             <span class="sr-only">(current)</span>
           </a>
         </li>
           
  <!-- Dropdown -->
   <li class="nav-item dropdown ">
     <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
       <i class="fa fa-fw fa-users"></i>  Services
     </a>
     <div class="dropdown-menu">
       <a class="dropdown-item" href="athletes.html" style="color:white">Athletes</a>
       <a class="dropdown-item" href="training.html" style="color:white">Personal Training</a>
       <a class="dropdown-item" href="kids.html" style="color:white">Youth Sports</a>
     </div>
     </li>
   <li class="nav-item ">
  
           <a class="nav-link" href="about.html"><i class="fa fa-fw fa-info"></i>About</a>
       </li>
   <li class="nav-item">
  
           <a class="nav-link" href="login.html"><i class="fa fa-sign-in"></i>Login</a>
         </li>
       
       </ul>
     </div>
   </nav>
  
               <!-- Navigation END -->      
           <!-- Contact form --> 
<br>
<br>
      <br id="contact">
<div class="container-fluid rounded">
    <div class="row px-5">
        <div class="col-sm-6">
            <div>
                <h1 class="text-white">Book an appointment in Edinburgh or request an online meeting</h1> <br>
                <h2   class="text-success"><small>One-To-One Training For £30 An Hour and up to <b>50%  DISCOUNT </b> for group bookings.</small> </h2>
                <p class="text-white"><i>Get in touch for more details.</i></p>
            </div>
             <!--contact details -->
            <div class="links" id="bordering"> 
              <a class="btn rounded text-white p-3"><i class="fa fa-phone icon text-success pr-3">
            </i>07921551001</a> 
            <a class="btn rounded text-white p-3"><i class="fa fa-envelope icon text-success pr-3">
            </i >info@titosport.co.uk</a> <a href="https://goo.gl/maps/Kk12aMpU6z1WrYLJ9" class="btn rounded text-white p-3"><i class="fa fa-map-marker
               icon text-success pr-3"></i>Leith Links </a> </div>
               <br>
                <!--Fab icons --> 
               <p class="text-white"><i>Checkout the links below to fine useful tips on my youtube channel, join our facebook family or follow me on LinkedIn.</i></p>
               <div class="container">
                <div class="row">
                    <div class="col-md-6">
               <ul class="nav">
                <li class="item"><a href="https://www.facebook.com/Tito-Sport-100205548772912" target="_blank" class="nav-link pl-0"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="item"><a href="https://www.youtube.com/channel/UCztMB6DSKj5LqufQX7H8M-w/featured" target="_blank" class="nav-link"><i class="fab fa-youtube"></i></a></li>
                    <li class="item"><a href="https://www.linkedin.com/in/stoil-panchev-tito-0024b6109/" target="_blank" class="nav-link"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="item"><a href="https://twitter.com/TitoSport_" target="_blank" class="nav-link"><i class="fab fa-twitter"></i></a></li>

                  </ul>
                  </div>
                  </div>
                  </div>
        </div>
        
        <!--Form --> 

  <div class="col-sm-6 pad">
    <form  class="rounded msg-form" action="mail.php" name="contact" method="POST" data-netlify="true">
                      <div > <label class="name" >Your Name</label>
          <div class="input-group border rounded">
              <div class="input-group-addon px-2 pt-1">
                  <p class="fa fa-user-o text-success"></p>
              </div> 
  <input type="text" class="form-control border-0" name="name" required>
          </div>
      </div>
      <div > <label class="name" >Email</label>
          <div class="input-group border rounded">
              <div class="input-group-addon px-2 pt-1"> <i class="fa fa-envelope text-success"></i> 
  </div> 
  <input type="text" class="form-control border-0" name="email" required>
          </div>
      </div>


      <div > <label class="name" >Subject</label>
        <div class="input-group border rounded">
            <div class="input-group-addon px-2 pt-1">
            </div> 
<input type="text" class="form-control border-0" name="subject" required>
        </div>
    </div>






      <div> <label >Message</label> <textarea name="messagebody" cols="14" rows="7" class="form-control bg-light" placeholder="Message" required></textarea> </div>
      <fieldset class="form-group">
        <div >
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="form-check" name="message" required>
            <label class="form-check-label" for="form-check">
              I agree to the terms & conditions
            </label>
            </div>
            </div>
            </fieldset>
      <div class="form-group d-flex justify-content-end"> <input type="submit" class="btn btn-outline-success" value="send message"> </div>
      </form>
</div>
</div>
</div>

<!--script-->



<!-- Script links -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
     

    </body>
</html>