<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>

    <meta charset="utf-8">

    
  
        <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

 <!-- Font -->
 <link rel="stylesheet"
 href="https://fonts.googleapis.com/css?family=Ubuntu">

<link rel="stylesheet"
 href="https://fonts.googleapis.com/css?family=Archivo Narrow">

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.png" type="image/x-icon">  

       <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/user.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

      <!-- Script -->
    <script
      src="https://kit.fontawesome.com/8853bac675.js"
      crossorigin="anonymous"
    ></script>


     <!--Meta Description-->
<meta name="description" content ="Strength and Conditioning in Edinburgh for athletes, juniors and amateurs.
I specialise in injuries prevention, recovery from  injury, fitness training for weight loss, active recovery, and competition preparation.">
<!--Meta Keyword-->
<meta name="keywords" content="Strength and Conditioning Edinburgh, free consultation in Edinburgh, personal training, Athletes, sport,every day sport, prevent injuries, recover from 
injury, fitness training, Strength and Conditioning for Juniors, Edinburgh sport young adults, Weight loss Individual support, Active recovery, improve your AGILITY,improve your SPEED
  flexibility, coordination , competition preparation">
  <link rel="canonical" href="https://titosport.co.uk">

      
      <!--Google-->
      <meta name="google-site-verification" content="tyE0vBCH0V6wz5esOi_Lp6IJOHDtghLsE5D0eeWW3_w" />
      
         <!-- Google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">


</head>

<!-- Content -->

  <body>
      
     <!-- Navigation -->

     <nav
     class="navbar navbar-expand-lg navbar-light fixed-top py-lg-0">
     <a class="navbar-brand" href="index.html">
        <img src="logo/logogreen.png" width="220" height="70" alt="Tito Sport logo" />
       <br />
     </a>
  
     <button
       class="navbar-toggler"
       type="button"
       data-toggle="collapse"
       data-target="#navbarResponsive"
       aria-controls="navbarResponsive"
       aria-expanded="false"
       aria-label="Toggle navigation"
     >
       <span class="navbar-toggler-icon">
         <i class="fas fa-bars" style="color:rgb(216, 210, 210); font-size:28px;"></i>
       </span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item ">
           <a class="nav-link"  href="index.html"
             ><i class="fa fa-fw fa-home"></i>Home
             <span class="sr-only">(current)</span>
           </a>
         </li>
           
  <!-- Dropdown -->
   <li class="nav-item dropdown ">
     <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
       <i class="fa fa-fw fa-users"></i>  Services
     </a>
     <div class="dropdown-menu">
       <a class="dropdown-item" href="athletes.html" style="color:white">Athletes</a>
       <a class="dropdown-item" href="training.html" style="color:white">Personal Training</a>
       <a class="dropdown-item" href="kids.html" style="color:white">Youth Sports</a>
     </div>
     </li>
     <li class="nav-item ">
      <a class="nav-link" href="about.html"><i class="fa fa-fw fa-info"></i>About</a>
  </li>
  <li class="nav-item dropdown active_nav ">
    <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
      <i class="fa fa-user"></i>My Account</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="athletes.html" style="color:white"><i class="fa fa-user"></i>My Account</a>
      <a class="dropdown-item" href="training.html" style="color:white"><i class='fas fa-edit'></i>Personal</a>
      <a class="dropdown-item" href="kids.html" style="color:white"><i class="fa fa-sign-in"></i>Logout</a>
    </div>
    </li>
       </ul>
     </div>
   </nav>
  
               <!-- Navigation END -->  


<br>
<br>
  <br>
    <br>
  <br>
</br>


<div id="main-content" >
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">
                          <div class="accordion accordion-flush" id="accordionFlushExample">
                            <!--Warm Up-->  
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                 Warm Up
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body"> <h4> Option 1</h4><br>
                                  Hop on the treadmill for 10 minutes, perform a couple sets and reps of hip circles, side lateral lunges, monster walks, supermans, and PVC overhead squats before an intense lower body workout. Before any upper body work: PVC or band shoulder dislocators, band pull-aparts, or controlled push-ups. If I plan on going extremely heavy or complete a high-intensity circuit workout, then I may spend an additional 10 minutes or so performing extra sets.     
                              
                              <br>
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7OuYc2SQSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              <br> <br> <h4> Option 2</h4>
                                   Hop on the treadmill for 10 minutes, perform a couple sets and reps of hip circles, side lateral lunges, monster walks, supermans, and PVC overhead squats before an intense lower body workout. Before any upper body work: PVC or band shoulder dislocators, band pull-aparts, or controlled push-ups. If I plan on going extremely heavy or complete a high-intensity circuit workout, then I may spend an additional 10 minutes or so performing extra sets.     
                                   <br>
                                   <img src="photos/athlates/4.jpg" width="220" height="200" alt="Tito Sport logo" />
                                   <img src="photos/athlates/7.jpg" width="220" height="200" alt="Tito Sport logo" />
                                   <br> <br> 
                                  </div>
                              </div>
                            </div>
                            <!--Week 1-->  
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                  Day 1
                                </button>
                              </h2>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">      

                                  <h4>Day 1</h4>
                                  <ul><hr>
                                    <li >Plank Cable Row;  <br></li>
                                    <li> Cable Chop;  <br></li>
                                    <li>Hanging Knee Raise; <br></li>
                                    <li >Bird Dog Row;  <br></li>
                                    <li> Cable Chop;  <br></li>
                                    <li>TRX Plank/Fall Out <br></li>
                                    </ul>
                                 
                                   <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7OuYc2SQSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                   <img src="photos/athlates/7.jpg" width="220" height="200" alt="Tito Sport logo" />
                              
                              </div>    
                            </div>
                            </div>
                            <!--Week 2-->  
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingthtee">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethtee" aria-expanded="false" aria-controls="flush-collapsethtee">
                                  Day 2
                                </button>
                              </h2>
                              <div id="flush-collapsethtee" class="accordion-collapse collapse" aria-labelledby="flush-headingthtee" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">      

                                  <h4>Day 1</h4>
                                  <ul><hr>
                                    <li >Plank Cable Row;  <br></li>
                                    <li> Cable Chop;  <br></li>
                                    <li>Hanging Knee Raise; <br></li>
                                    <li >Bird Dog Row;  <br></li>
                                    <li> Cable Chop;  <br></li>
                                    <li>TRX Plank/Fall Out <br></li>
                                    </ul>
                                 
                                   <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7OuYc2SQSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                   <img src="photos/athlates/7.jpg" width="220" height="200" alt="Tito Sport logo" />
                              
                              </div>    
                              </div>
                            </div>
                          <!--Week 3-->  
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                  Day 3
                                </button>
                              </h2>
                              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">      

                                  <h4>Day 1</h4>
                                  <ul><hr>
                                    <li >Plank Cable Row;  <br></li>
                                    <li> Cable Chop;  <br></li>
                                    <li>Hanging Knee Raise; <br></li>
                                    <li >Bird Dog Row;  <br></li>
                                    <li> Cable Chop;  <br></li>
                                    <li>TRX Plank/Fall Out <br></li>
                                    </ul>
                                 
                                   <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7OuYc2SQSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                   <img src="photos/athlates/7.jpg" width="220" height="200" alt="Tito Sport logo" />
                              
                              </div>    
                              </div>
                            </div>
                            <!--Week 4-->  
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                                  Day 4
                                </button>
                              </h2>
                              <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">      

                                  <h4>Day 1</h4>
                                  <ul><hr>
                                    <li >Plank Cable Row;  <br></li>
                                    <li> Cable Chop;  <br></li>
                                    <li>Hanging Knee Raise; <br></li>
                                    <li >Bird Dog Row;  <br></li>
                                    <li> Cable Chop;  <br></li>
                                    <li>TRX Plank/Fall Out <br></li>
                                    </ul>
                                 
                                   <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7OuYc2SQSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                   <img src="photos/athlates/7.jpg" width="220" height="200" alt="Tito Sport logo" />
                              
                              </div>    
                              </div>
                            </div>
                                     <!--Week 4-->  
                                     <div class="accordion-item">
                                      <h2 class="accordion-header" id="flush-headingSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                          Day 5
                                        </button>
                                      </h2>
                                      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">      

                                          <h4>Day 1</h4>
                                          <ul><hr>
                                            <li >Plank Cable Row;  <br></li>
                                            <li> Cable Chop;  <br></li>
                                            <li>Hanging Knee Raise; <br></li>
                                            <li >Bird Dog Row;  <br></li>
                                            <li> Cable Chop;  <br></li>
                                            <li>TRX Plank/Fall Out <br></li>
                                            </ul>
                                         
                                           <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7OuYc2SQSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                           <img src="photos/athlates/7.jpg" width="220" height="200" alt="Tito Sport logo" />
                                      
                                      </div>    
                                      </div>
                                    </div>
                                             <!--Day 6 -->  
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                  Day 6
                                </button>
                              </h2>
                              <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">      <br> <h4> Day 1</h4>

                                  </div>
                              </div>
                            </div>
                                     <!--Day 7 -->  
                                     <div class="accordion-item">
                                      <h2 class="accordion-header" id="flush-headingeight">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                                          Day 7
                                        </button>
                                      </h2>
                                      <div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingeight" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">      

                                          <h4>Day 1</h4>
                                          <ul><hr>
                                            <li >Plank Cable Row;  <br></li>
                                            <li> Cable Chop;  <br></li>
                                            <li>Hanging Knee Raise; <br></li>
                                            <li >Bird Dog Row;  <br></li>
                                            <li> Cable Chop;  <br></li>
                                            <li>TRX Plank/Fall Out <br></li>
                                            </ul>
                                         
                                           <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7OuYc2SQSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                           <img src="photos/athlates/7.jpg" width="220" height="200" alt="Tito Sport logo" />
                                      
                                      </div>    
                                      </div>
                                    </div>
                          </div>
                        </div>                        
                    </div>





                </div>
                
               <!-- Small cards -->  
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="body">
                            <div class="input-group m-b-0">
                                <div class="input-group-prepend">
                                </div>
                                <h4>Hi John, Here are some injury prevention tips for you</h4>
                            <ul><hr>
                              <li >If you are an ATHLETE <br></li>
                              <li> If you are looking to improve your SPEED <br></li>
                              <li>If you are looking to improve your COORDINATION<br></li>
                              </ul>
                                               </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h3>Start your day with me</h3>
                        </div>
                        <div class="body widget">
                          <iframe src="https://www.youtube.com/embed/Q7OuYc2SQSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h3>Latest News</h3>                        
                        </div>
                        <div class="body widget popular-post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_post">
                                        <p class="m-b-0"><span style="color: rgb(218, 17, 17)">New!</span> Boot Camp in Corstorphine </p>
                                        <span></span>
                                        </div>                                            
                                    </div>
                                    <div class="single_post">
                                        <p>I am starting new bootcamp in Corstorphine area</p>
                                        <a href="contact.html">let me know your availabilities and goes</a>
                                        <span><b>Pay what you want </b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
</div>
</div>
</div>

 


























 <!-- Footer -->
 <footer class="footer">
  <div class="main-footer widgets-dark typo-light">
  <div class="container">
  <div class="row">
    
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget subscribe no-box">
  <h5 class="widget-title">TitoSport</h5><hr>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FTitoSportUK%2Fposts%2F162234722569994&show_text=true&width=500" width="280" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  <!-- <div class="fb-page" data-href="https://www.facebook.com/TitoSportUK" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/TitoSportUK" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TitoSportUK">Stoil Panchev - Tito</a></blockquote></div> -->
</div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Quick Links</h5><hr><hr class="hr1">
    <div class="link"><a href="https://www.termsfeed.com/live/204729a2-cca1-468d-9f50-20d28c54fdf4">Privacy policy</a></div> 
    <div class="link"><a href="https://www.termsandconditionsgenerator.com/live.php?token=cdNffv7lZWkaQIWcriZkfI5XO8CIONPg">Terms & Conditions</a></div> 

  <div class="link"><a href="#.">Cookie policy</a></div> 

  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Get Started</h5><hr><hr class="hr1">
  <div class="link"><a href="about.html">Active recovery</a></div> 
  <div class="link"><a href="about.html">Injury recovery</a></div> 
  <div class="link"><a href="about.html">Individual support</a></div> 
  <div class="link"><a href="contact.html">Book now</a></div> 


</div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  
  <div class="widget no-box">
  <h5 class="widget-title">Contact Us</h5><hr><hr class="hr1">
  

    <!-- Facebook --><a href="https://www.facebook.com/Tito-Sport-100205548772912" target="_blank" class="button" ><i class="fab fa-facebook-square" style='font-size:25px;color:#172042'></i></a>
    <!-- Twitter --><a href="https://twitter.com/TitoSport_" target="_blank" class="button"><i class="fab fa-twitter" style='font-size:25px;color:#172042'></i></a>
    <!-- Youtube --><a href="https://www.youtube.com/channel/UCztMB6DSKj5LqufQX7H8M-w/featured" target="_blank" class="button"><i class="fab fa-youtube" style='font-size:25px;color:#172042'></i></a>
    <!-- Linkedin --> <a href="https://www.linkedin.com/in/stoil-panchev-tito-0024b6109/" target="_blank" class="button" ><i class="fab fa-linkedin-in" style='font-size:25px;color:#172042'></i></a>
  
  </div>
  </div>
  
  </div>
  </div>
  </div>
    
  <div class="footer-copyright">
  <div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
  <p> Copyright TitoSport &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
  </div>
  </div>
  </div>
  </div>
  </footer>

  <!-- Script links -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://tools.cstudios.ninja/tilt.jquery.js'></script><script  src="script.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   

  </body>
</html>